{% extends "base.html" %}

{% block title %}Review {{ supplier.name }}{% endblock %}

{% block content %}
<h3 xmlns="http://www.w3.org/1999/html">Review {{ supplier.name }}</h3>
{% if errors %}
<p>{{ errors }}</p>

{% for field in errors %}
    {{ field
    {% for err in field %}
        {{ err }}
    {% endfor %}
{% endfor %}

{% endif %}
<form action="{% url 'customer_reviews:supplier_review_create' supplier.slug %}"
      class="jumbotron"
      style="padding: 30px;"
      method='POST'>
    {% csrf_token %}
    <label class="has-error">Rating</label>
    <div>
        {% for value, string in choices %}
        <div class="radio-inline">
            <label>
                <input type="radio"
                       name="rating"
                       {% if form_data.rating %}
                            {%if form_data.rating == string %}
                       checked="checked"
                            {% endif %}
                       {% endif %}
                       value="{{ value }}">
              {{ string }}
            </label>
        </div>
        {% endfor %}
    </div>
    <div class="form-group">
        <label>Review</label>
        <textarea name="review"
                  class="form-control {% if errors.review %}has-error{% endif %}"
                  rows="5"
                  placeholder="Enter your Review..."
        >{% if form_data.review %}{{ form_data.review }}{% endif %}</textarea>
    </div>
    <div class="form-group">
        <label>Your Name</label>
        <input type="text"
               class="form-control"
               name="author"
               value="{%if form_data.author %}{{ form_data.author }}{% endif %}"
               placeholder="Davey Jones...">
    </div>
    <button class="btn btn-success btn-lg btn-block"
            type="submit">Submit</button>
</form>
{% endblock %}
