{% extends "base.html" %}

{% block title %}Review {{ supplier.name }}{% endblock %}

{% block content %}

<h3>Review {{ supplier.name }}</h3>

{% if errors %}<p>{{ errors }}</p>{% endif %}

<form action="{% url 'customer_reviews:supplier_review_create' supplier.slug %}"
      method='POST'>
  {% csrf_token %}
  <fieldset>
    <legend>Rating</legend>
    {% for value, string in choices %}
    <label style="margin-right: 5em;">
      <input type="radio"
             name="rating"
             {% if form_data.rating %}
                {%if form_data.rating == string %}
                    checked="checked"
                {% endif %}
             {% endif %}
             value="{{ value }}">
      {{ string }}
    </label>
  {% endfor %}
  </fieldset>
    <br>
  <textarea name="review"
            class="form-control"
            rows="5"
            placeholder="Enter your Review...">{% if form_data.review %}{{ form_data.review }}{% endif %}</textarea>
  <br>
    <fieldset>
          <label>Your Name:
    <input type="text"
           class="form-control"
           name="author"
           value="{%if form_data.author %}{{ form_data.author }}{% endif %}"
           placeholder="Your name">
  </label>
  </fieldset>
    <br>
  <button class="btn btn-success" type="submit">Submit</button>
</form>

{% endblock %}
